<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <h4 style="color:pink">Bonjour <img src="assets/img/hello.jpg" alt="logo" height="100%" style="width: 5%;margin-top: -2%;">,<br> 
      bienvenu sur mon application Post... ( Exercice 1_Openclassroom_Angular) !!!</h4>
    <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list  *ngFor="let post of posts"

                       [title]="post.title"

                       [content]="post.content"

                       [loveIts]="post.loveIts"
                       > 
        </app-post-list>
      </ul>
      <p style="color:palevioletred">Merci Pour votre temps et votre correction <img src="assets/img/thanks.jpg" alt="thanks" height="100%" style="width: 4%;margin-top: -1%;"> !!!</p>
    </div>
  </div>
</div>