<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts >0,
                'list-group-item-danger': loveIts <0}">
 <h4>{{ title }}</h4>  <p style="float: right;margin-top: -4%;">Created at : {{  created_at | async | date:'short' }}</p>
 <p>{{ content }}</p>
 <button class="btn btn-success" 
        (click)="loveit()">Love it! 
        
        <span [ngStyle]="{color: getColor()}" style="font-weight: bold">  {{ loveIts }}</span>
 </button>
 <button class="btn btn-danger" (click)="dontloveit()" style="margin-left: 4px">Don't love it!
 </button>
</li>